name: Java CI/CD with Gradle & Docker

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # ★ Java 25 세팅
      - name: Set up JDK 25
        uses: actions/setup-java@v3
        with:
          java-version: '25'
          distribution: 'temurin' # 또는 'zulu', 'oracle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build -x test

      - name: Docker build & push
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker build -t ${{ secrets.DOCKER_USERNAME }}/myksbk-server .
          docker push ${{ secrets.DOCKER_USERNAME }}/myksbk-server

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ec2-user
          key: ${{ secrets.KEY }}
          script: |
            sudo docker stop myksbk-server || true
            sudo docker rm myksbk-server || true
            sudo docker rmi ${{ secrets.DOCKER_USERNAME }}/myksbk-server || true
            sudo docker run -d --name myksbk-server -p 8080:8080 ${{ secrets.DOCKER_USERNAME }}/myksbk-server